.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  display: flex;
  align-items: center;
  color: #2e2e2e;
  position: relative;
  overflow: hidden;
  /* padding: 0 2%; */
  width: 100%;
  padding-top: 80px;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  padding: 2%;
  overflow: hidden;
}

.hero-content {
  text-align: left;
  position: relative;
  z-index: 2;
  width: 60%;
}

.hero-image-container {
  position: relative;
  /* overflow: hidden; */
  width: 40%;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioPhoto {
  position: absolute;
  height: 120px;
  width: 120px;
  z-index: 30;
  object-fit: contain;
  left: 75%;
  top: 10px;
}

.portfolioPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.portfolioPhoto img:hover {
  transform: scale(1.02);
}
.hero-image-container:hover {
  transform: scale(1.02);
}

.hero-badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
.hero-name {
  display: flex;
  align-items: center;
  gap: 80px;
}

.hero-name img {
  position: absolute;
  left: 70%;
  height: 120px;
  width: 180px;
  border-radius: 40px;
  object-fit: cover;
}

.glitch {
  font-size: 54px;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  position: relative;
  line-height: 1.1;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: var(--accent-color);
  font-weight: 600;
  margin-bottom: 10px;
}
.hero-description {
  font-size: 18px;
  color: var(--secondary-text-color);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.cta-primary,
.cta-secondary {
  padding: 0.8rem 2rem;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  border-radius: 50px;
}

.cta-primary {
  background-color: rgba(226, 209, 195, 0.3);
  color: var(--secondary-text-color);
  font-weight: 600;
  border: 2px solid var(--accent-color);
}

.cta-secondary {
  background-color: rgba(226, 209, 195, 0.3);
  color: var(--secondary-text-color);
  font-weight: 600;
  border: 2px solid var(--accent-color);
}

.cta-secondary::before,
.cta-primary::before {
  content: "";
  background: linear-gradient(90deg, #f472b6 0%, #fbcfe8 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.cta-secondary:hover {
  color: #0f172a;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.cta-primary:hover {
  color: #0f172a;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.cta-secondary:hover::before {
  opacity: 1;
}

.cta-primary:hover::before {
  opacity: 1;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-links a {
  color: var(--accent-color);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.social-links a:hover {
  color: var(--secondary-color);
}

.floating-card {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  padding: 5px 15px 10px;
  border-radius: 15px;
}

/* card Content  */

.card-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-text {
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.code-display {
  width: 100%;
}

/* Media Queries */

@media (max-width: 640px) {
  .hero-image-container {
    display: none;
  }
  .hero-description {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
    gap: 20px;
    margin-bottom: 20px;
  }
  .portfolioPhoto {
    display: none;
  }

  .hero-content {
    text-align: center;
    max-width: 100%;
  }
  .hero-description {
    width: 100%;
    font-size: 14px;
  }

  .glitch {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .cta-buttons {
    justify-content: center;
  }
  .social-links {
    justify-content: center;
  }
  /* code container */
}
@media (max-width: 1024px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0 2vw;
    margin-bottom: 20px;
  }
  .hero-content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .portfolioPhoto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .hero-content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .hero-image-container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
  }
  .glitch {
    font-size: 30px;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .hero-description {
    font-size: 16px;
  }
}
